//#1445b3;// background hero
//#004a99;//background choose y footer. 
//#00458f;//card choose us background color.
$color-button-icon:#007bff; //celeste button; e iconos.
$font-color-cabecera:#283d50;
$font-color-sub-aboutus:#283d50;
$font-color-card:#111;
$font-color-p-cabecera:#556877;
$inactive-button: #ecf5ff;
$font-title:'Montserrat', sans-serif;
$font-weight-cabecera:500;
$font-weight-subtitulos:600;
$font-texto: 'Open Sans', sans-serif;
$font-weight-texto:400;
$font-color-footer:#eee;
$background-color:#004a99;
$fontsize-reg:16px;
$fontsize-sm:14px;
$padding-general:0px 15px;
$font-size-title: 36px;
$another-back-color: #ecf5ff;
$choose-text-color:#bfddfe;

