@import "../common/mixins";

#home {
  //border: 1px solid black;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: url("../img/intro-bg.png") center no-repeat;
  background-size: cover;
  background-color: #1445b3;
  .home-container {
    padding: $padding-general;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include laptop {
      flex-direction: row-reverse;
      padding: 60px 0;
    }

    .hero-image {
      max-width: 80%;
      height: auto;
      margin-top: 35px;
      @include laptop {
        max-width: 50%;
      }
    }
    .hero-text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  h1 {
    font-family: $font-title;
    color: #ffffff;
    font-size: $font-size-title;
    text-align: center;
    padding: 0px 20px;
    word-wrap: break-word;
    @include laptop {
      font-size: 50px;
    }
    span {
      color: #74b5fc;
      text-decoration: underline;
    }
  }
  .botones {
    flex-direction: column;
    display: flex;
    @include laptop {
      flex-direction: row;
    }
    .btn {
      display: inline-block;
      padding: 10px 32px;
      margin: 0 20px 20px 0;
      box-sizing: border-box;
      text-decoration: none;
      font-family: $font-title;
      color: #ffffff;
      text-align: center;
      transition: all 0.2s;
      font-size: $fontsize-sm;
      font-weight: $font-weight-subtitulos;
      letter-spacing: 1px;
      border-radius: 32px;
    }
    .btn1 {
      border: 2px solid $color-button-icon;
      background-color: $color-button-icon;
      &:hover {
        background: none;
        border-color: #fff;
        color: #fff;
      }
    }
    .btn2 {
      border: 2px solid #ffffff;
      &:hover {
        border: 2px solid $color-button-icon;
        background-color: $color-button-icon;
      }
    }
  }
}
