#services {
  background-color: $another-back-color;
  padding-top: 60px;
  padding-bottom: 60px;
  .cabecera {
    p {
      padding-bottom: 60px;
    }
  }
  .card-container {
    padding: 3px 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
