#services{
    background-color: $another-back-color;
    .cabecera{
        p{
            padding-bottom: 60px;
           
        }
    }
    .card-container{
        padding:$padding-general;
    }
}