.team{ 
    p{
       font-family: $font-texto;
       color: $font-color-p-cabecera;
       text-align: center;
       font-size: $fontsize-sm;
       line-height: 1.5;
       padding: $padding-general;
      
    }
   .team1{
     margin:20px;
         .batman{
          height:340px;
          border-radius: 175px;
         max-width: 118%;
          }
}
}