#team{
  padding-top: 60px;
  padding-bottom: 60px;
  padding: $padding-general;
}
.contenedort {
  p {
    font-family: $font-texto;
    color: $font-color-p-cabecera;
    text-align: center;
    font-size: $fontsize-sm;
    line-height: 1.5;
    padding-bottom: 60px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    color:$color-textitos;
  
  }
  .team1 {
    margin: 20px;
    display: flex;
    justify-content: center;
    .batman {
      display: block;
      max-width: 100%;
      width: auto;
      height: auto;
      border-radius: 50%;
    }
  }
}
