@import "../common/mixins";
.cardb {
  background-color: #00458f;
  padding: 20px;
  border-radius: 10px;
  margin: 2px 10px 30px 2px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include laptop {
    width: 33%;
  }

  .iconos2 {
    font-size: 50px;
    color: $choose-text-color;
    margin-bottom: 10px;
  }
  .texto2 {
    text-align: center;
    color: #ffffff;

    h2 {
      font-size: 22px;
      font-family: $font-title;
      font-weight: 700;
      margin: 0;
      width: 100%;
    }
    p {
      font-family: $font-texto;
      font-size: $fontsize-sm;
      line-height: 25px;
    }
    .readMore {
      font-weight: 700;
      font-size: $fontsize-sm;
    }
  }
}
